IBMCallForCodeTeamI/conversation-flow/conversation-flow.json
[{"id":"7e093663.5db568","type":"tab","label":"survival-network-system","disabled":false,"info":""},{"id":"5ad046dd.7ddce8","type":"watson-conversation-v1","z":"7e093663.5db568","name":"","workspaceid":"039f9799-3668-4b18-9788-31752cdaca8d","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":488.71429443359375,"y":1302.28564453125,"wires":[["9d2c9a92.c65b48"]]},{"id":"9d2c9a92.c65b48","type":"function","z":"7e093663.5db568","name":"prepare","func":"msg.payload =\n{\n    chatId: msg.chatId,\n    content: msg.payload.output.text[0],\n    type: \"message\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":634.7142944335938,"y":1302.28564453125,"wires":[["a7790931.73afa"]]},{"id":"f0d1b29e.d66cb8","type":"function","z":"7e093663.5db568","name":"Filter","func":"\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":346.71429443359375,"y":1302.2856750488281,"wires":[["5ad046dd.7ddce8"]]},{"id":"fdf8edf5.dbe65","type":"telegram receiver","z":"7e093663.5db568","name":"","bot":"d698968e.1fd06","saveDataDir":"","x":181.71429443359375,"y":1302.28564453125,"wires":[["f0d1b29e.d66cb8"],[]]},{"id":"a7790931.73afa","type":"telegram sender","z":"7e093663.5db568","name":"","bot":"d698968e.1fd06","x":847.7142944335938,"y":1302.28564453125,"wires":[[]]},{"id":"e9ad1ba4.a55c3","type":"http in","z":"7e093663.5db568","name":"/survival-chatbot","url":"/survival-chatbot","method":"post","upload":false,"swaggerDoc":"","x":157.14285278320312,"y":114.28569793701172,"wires":[["fa0fc04f.1a3b1"]]},{"id":"fa0fc04f.1a3b1","type":"function","z":"7e093663.5db568","name":"Filter","func":"\nmsg.payload = msg.payload.text;\nmsg.params={\"version\":\"2018-07-10\"};\nreturn msg;","outputs":1,"noerr":0,"x":393.1428527832031,"y":114.28570556640625,"wires":[["b0428323.be30c"]]},{"id":"b0428323.be30c","type":"link out","z":"7e093663.5db568","name":"http-in","links":["f6e0147c.964c58","b3f1a429.f85a28"],"x":508.1429443359375,"y":114.28570556640625,"wires":[]},{"id":"abab3002.3bb508","type":"cloudant out","z":"7e093663.5db568","name":" Disaster-Reports-db    ","cloudant":"","database":"disaster-reports-db","service":"survival-network-system-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1074.2857055664062,"y":448.57147216796875,"wires":[]},{"id":"93d274bb.52a0a8","type":"switch","z":"7e093663.5db568","name":"check-action","property":"payload.output.action","propertyType":"msg","rules":[{"t":"eq","v":"saveReport","vt":"str"},{"t":"eq","v":"saveAid","vt":"str"},{"t":"eq","v":"reportMissingPerson","vt":"str"},{"t":"eq","v":"reportFoundedPerson","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":572.7857055664062,"y":513.5714721679688,"wires":[["e6f5a651.74ab2"],["33814a23.8e78f6"],["96967e6d.f36fe"],["10aee807.22fc88"]]},{"id":"e6f5a651.74ab2","type":"function","z":"7e093663.5db568","name":"Report-a-Disasater","func":"var name = msg.payload.context.firstName+\" \"+msg.payload.context.lastName;\nmsg.payload ={\n    PersonName:name,\n    DisasterType:msg.payload.context.disasterType,\n    City:msg.payload.context.disCity,\n    Phone:msg.payload.context.phone\n};\nreturn msg;","outputs":1,"noerr":0,"x":776.2857055664062,"y":448.57147216796875,"wires":[["abab3002.3bb508"]]},{"id":"33814a23.8e78f6","type":"function","z":"7e093663.5db568","name":"Request-Aid","func":"var name = msg.payload.context.firstName+\" \"+msg.payload.context.lastName;\nmsg.payload ={\n    PersonName:name,\n    AidType:msg.payload.context.aidType,\n    DisasterType:msg.payload.context.disasterType,\n    City:msg.payload.context.disCity,\n    Phone:msg.payload.context.phone\n};\nreturn msg;","outputs":1,"noerr":0,"x":756.2857055664062,"y":495.57147216796875,"wires":[["20183c43.d0ddac"]]},{"id":"96967e6d.f36fe","type":"function","z":"7e093663.5db568","name":"Report-Missing-Person","func":"var name = msg.payload.context.firstName+\" \"+msg.payload.context.lastName;\nvar status = \"Missing\";\nmsg.payload ={\n    MissingPersonName:name,\n    Age :msg.payload.context.age,\n    Gender:msg.payload.context.gender,\n    ReporterName:msg.payload.context.personName,\n    ReporterPhone:msg.payload.context.phone,\n    Status:status\n};\nreturn msg;","outputs":1,"noerr":0,"x":797.2857055664062,"y":542.5714721679688,"wires":[["8a19722.5b9339"]]},{"id":"10aee807.22fc88","type":"function","z":"7e093663.5db568","name":"Report-an-Existing-Person","func":"var name = msg.payload.context.firstName+\" \"+msg.payload.context.lastName;\nvar status = \"Existing\";\nmsg.payload ={\n    MissingPersonName:name,\n    Age :msg.payload.context.age,\n    Gender:msg.payload.context.gender,\n    ReporterName:msg.payload.context.personName,\n    ReporterPhone:msg.payload.context.phone,\n    Status:status\n};\nreturn msg;","outputs":1,"noerr":0,"x":807.2857055664062,"y":592.5714721679688,"wires":[["8a19722.5b9339"]]},{"id":"20183c43.d0ddac","type":"cloudant out","z":"7e093663.5db568","name":"Aid-Requests-db","cloudant":"","database":"aid-requests-db","service":"survival-network-system-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1060.2857055664062,"y":495.57147216796875,"wires":[]},{"id":"8a19722.5b9339","type":"cloudant out","z":"7e093663.5db568","name":"Missing-Persons-db","cloudant":"","database":"missing-persons-db","service":"survival-network-system-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1067.2857055664062,"y":560.5714721679688,"wires":[]},{"id":"dff5088.add0878","type":"watson-conversation-v1","z":"7e093663.5db568","name":"","workspaceid":"039f9799-3668-4b18-9788-31752cdaca8d","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":197.85711669921875,"y":511.5714111328125,"wires":[["f3c32fe7.8c01b"]]},{"id":"f6e0147c.964c58","type":"link in","z":"7e093663.5db568","name":"","links":["b0428323.be30c"],"x":100.00003051757812,"y":511.42864990234375,"wires":[["dff5088.add0878"]]},{"id":"fdc0ec84.2625e8","type":"watson-tone-analyzer-v3","z":"7e093663.5db568","name":"","tones":"emotion","sentences":"false","contentType":"false","default-endpoint":false,"service-endpoint":"","x":228.57147216796875,"y":288.57135009765625,"wires":[["8a51fd1d.6c47f8"]]},{"id":"8a51fd1d.6c47f8","type":"function","z":"7e093663.5db568","name":"filter","func":"if( msg.response.document_tone.tones.length !== 0)\nvar ton = msg.response.document_tone.tones[0].tone_id;\nvar resMessage = \"\";\nif(null !== ton)\n{\n    if(ton == \"sadness\")\n     resMessage = \"I'm sorry you are facing this problem.\";\n\n    else if(ton == \"fear\")\n    resMessage = \"don't be afraid , every thing is going to be ok.\";\n    \n    else if(ton == \"joy\")\n    resMessage = \"I'm glad you are satisfied with our service.\";\n}\nmsg.payload = {Message:resMessage};\nreturn msg;","outputs":1,"noerr":0,"x":399.1428527832031,"y":288.4284973144531,"wires":[["a3e25a1.0937ea8"]]},{"id":"b3f1a429.f85a28","type":"link in","z":"7e093663.5db568","name":"","links":["b0428323.be30c"],"x":101.42855834960938,"y":288.5713653564453,"wires":[["fdc0ec84.2625e8"]]},{"id":"f3c32fe7.8c01b","type":"link out","z":"7e093663.5db568","name":"assisstant-out","links":["49edc95e.360258","429ba6b3.aa1c2"],"x":302.8571472167969,"y":511.42852783203125,"wires":[]},{"id":"49edc95e.360258","type":"link in","z":"7e093663.5db568","name":"","links":["f3c32fe7.8c01b"],"x":445.71429443359375,"y":514.2857666015625,"wires":[["93d274bb.52a0a8"]]},{"id":"a3e25a1.0937ea8","type":"link out","z":"7e093663.5db568","name":"analyzer-out","links":["429ba6b3.aa1c2"],"x":511.42852783203125,"y":288.57139587402344,"wires":[]},{"id":"5dfbc597.f7947c","type":"join","z":"7e093663.5db568","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":191.42861938476562,"y":722.8570556640625,"wires":[["41a1f1ec.a6e6c"]]},{"id":"41a1f1ec.a6e6c","type":"function","z":"7e093663.5db568","name":"clean","func":" try\n {\n     var output = msg.payload[1].payload.output;\n     if(output.text.length === 0 && output.hasOwnProperty('generic') && output.generic.length !== 0)\n     {\n      output.generic[0].title = msg.payload[0].payload.Message+\" \"+output.generic[0].title;  \n     }\n     else\n     {\n       output.text.unshift(msg.payload[0].payload.Message);\n     }\n     msg.payload[1].payload.output = output;\n     msg.payload = msg.payload[1].payload;\n     return msg;\n }catch(err){\n     var output = msg.payload[0].payload.output;\n   if(output.text.length === 0 && output.hasOwnProperty('generic') && output.generic.length !== 0)\n   {\n     output.generic[0].title = msg.payload[1].payload.Message+\" \"+output.generic[0].title;  \n   }\n   else\n   {\n     output.text.unshift(msg.payload[1].payload.Message);  \n   }\n    msg.payload[0].payload.output = output;  \n    msg.payload = msg.payload[0].payload;\n    return msg;\n     \n }\n","outputs":1,"noerr":0,"x":351.0714416503906,"y":722.8570556640625,"wires":[["172f4726.1c64e1"]]},{"id":"172f4726.1c64e1","type":"switch","z":"7e093663.5db568","name":"check-service","property":"payload.output.action","propertyType":"msg","rules":[{"t":"eq","v":"getLatestNews","vt":"str"},{"t":"eq","v":"getWeather","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":560.9286193847656,"y":723.3570556640625,"wires":[["224395a1.a5995a"],["f2471e91.093ff"],["e9c77e52.97116"]]},{"id":"429ba6b3.aa1c2","type":"link in","z":"7e093663.5db568","name":"","links":["a3e25a1.0937ea8","f3c32fe7.8c01b"],"x":104.28573608398438,"y":722.8571166992188,"wires":[["5dfbc597.f7947c"]]},{"id":"224395a1.a5995a","type":"link out","z":"7e093663.5db568","name":"check-news-out","links":["3bb1b238.2673ce"],"x":711.4285888671875,"y":687.1427001953125,"wires":[]},{"id":"f2471e91.093ff","type":"link out","z":"7e093663.5db568","name":"check-weather-out","links":["3e5c9cc9.564074"],"x":711.4285888671875,"y":730,"wires":[]},{"id":"e9c77e52.97116","type":"link out","z":"7e093663.5db568","name":"default-out","links":["83dae189.83ff2"],"x":711.4286499023438,"y":771.428466796875,"wires":[]},{"id":"32609ea9.be829a","type":"function","z":"7e093663.5db568","name":"prepare-for-discovery","func":"msg.payload =msg.payload.context.disasterType+\" \"+msg.payload.context.disCity;\nreturn msg;","outputs":1,"noerr":0,"x":238.5714111328125,"y":928.5714721679688,"wires":[["7dd86cae.b2f81c"]]},{"id":"7dd86cae.b2f81c","type":"watson-discovery-v1-query-builder","z":"7e093663.5db568","name":"","password":"spsscognos","apikey":"","environment":"system","environmenthidden":"system","collection":"news-en","collectionhidden":"news-en","nlp_query":true,"nlp_queryhidden":"on","querynlp":"","querynlphidden":"","query1":"enriched_title.semantic_roles.action.verb.tense","query1hidden":"enriched_title.semantic_roles.action.verb.tense","queryvalue1":"","queryvalue1hidden":"","query2":"enriched_title.semantic_roles.action.verb.tense","query2hidden":"enriched_title.semantic_roles.action.verb.tense","queryvalue2":"","queryvalue2hidden":"","query3":"enriched_title.semantic_roles.action.verb.tense","query3hidden":"enriched_title.semantic_roles.action.verb.tense","queryvalue3":"","queryvalue3hidden":"","passages":false,"passageshidden":"on","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/discovery/api","x":480.785888671875,"y":928.2141723632812,"wires":[["ff887285.9a4aa"]]},{"id":"ff887285.9a4aa","type":"function","z":"7e093663.5db568","name":"function:query","func":"msg.discoveryparams = {};\nmsg.discoveryparams.environment_id = 'system';\nmsg.discoveryparams.collection_id = 'news-en';\nmsg.discoveryparams.nlp_query = true;\nmsg.discoveryparams.query = msg.payload;\nmsg.discoveryparams.query_options = {highlight:true};\nreturn msg;","outputs":1,"noerr":0,"x":701.2145080566406,"y":927.0713500976562,"wires":[["2b2c0a45.1f1d16"]]},{"id":"2b2c0a45.1f1d16","type":"watson-discovery-v1","z":"7e093663.5db568","name":"","environmentname":"","environment_id":"system","collection_id":"news","configurationname":"","configuration_id":"","language_code":"en","collection_name":"","count":"5","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":0,"discovery-method":"query","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/discovery/api","x":878.2146301269531,"y":926.7857666015625,"wires":[["718f9903.6b94f"]]},{"id":"718f9903.6b94f","type":"function","z":"7e093663.5db568","name":"prepare-for-response","func":"\nvar option = [];\nvar generic = [];\n\nfor(var i = 0 ; i<5;i++)\n{\n    //\n    var url = msg.search_results.results[i].url;\n    var Item = msg.search_results.results[i].title + \" <a style='text-decoration:none;color: SeaGreen' href='\"+url+\"' target='_blank'>more details.</a><hr> \"; \n   option.push({label:Item,value:{input:{text:\"a\"+i}}}); \n}\ngeneric.push({title:'Search Results.' ,options:option ,response_type:\"option\"});\nvar output = {\"generic\":generic,text:[]};\nmsg.payload = {\"output\":output};\nmsg.search_results = msg.discoveryparams  =null;\nreturn msg;","outputs":1,"noerr":0,"x":1082.8574523925781,"y":927.1429443359375,"wires":[["872a2941.ed48e8"]]},{"id":"3bb1b238.2673ce","type":"link in","z":"7e093663.5db568","name":"","links":["224395a1.a5995a"],"x":104.28573608398438,"y":928.5714721679688,"wires":[["32609ea9.be829a"]]},{"id":"f145d455.c7747","type":"function","z":"7e093663.5db568","name":"prepare-for-weather","func":"msg.location = {};\nmsg.location.address =  msg.payload.context.disCity;\nreturn msg;","outputs":1,"noerr":0,"x":242.85714721679688,"y":1065.71435546875,"wires":[["530bb7be.df5698"]]},{"id":"530bb7be.df5698","type":"google geocoding","z":"7e093663.5db568","name":"","geocodeBy":"address","address":"","lat":"","lon":"","googleAPI":"","bounds":"","language":"","region":"","components":"","x":479.8571472167969,"y":1065.71435546875,"wires":[["4ffb5d8b.34e7d4"]]},{"id":"4ffb5d8b.34e7d4","type":"function","z":"7e093663.5db568","name":"clean-geocoding-output","func":"msg.payload.status = msg.status;\nif(msg.html_attributions){\n\tmsg.payload.html_attributions = msg.html_attributions;\n    msg.payload = msg.payload.lat+\",\"+msg.payload.lon;\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":739.8571472167969,"y":1065.71435546875,"wires":[["9c2fadf0.2beea8"]]},{"id":"9c2fadf0.2beea8","type":"weather_insights","z":"7e093663.5db568","name":"","host":"twcservice.mybluemix.net","service":"/observations.json","geocode":"","units":"m","language":"en","x":966.0000610351562,"y":1065.571533203125,"wires":[["1097df69.b25169"]]},{"id":"1097df69.b25169","type":"function","z":"7e093663.5db568","name":"prepare-for-response","func":"var title = \"weather forcasts for \"+msg.data.results[0].address_components[0].long_name+\".\";\nvar response = [title];\nresponse[1] = \"temperature: \"+msg.observation.temp +\" °\";\nresponse[2] = \"humidity: \"+msg.observation.rh+\" %\";\nresponse[3] = \"ultraviolet (UV): \"+msg.observation.uv_desc;\nvar output = {\"text\":response};\nmsg.payload = {\"output\":output};\n\nreturn msg;","outputs":1,"noerr":0,"x":1178,"y":1065.1429443359375,"wires":[["17bbd307.16d235"]]},{"id":"3e5c9cc9.564074","type":"link in","z":"7e093663.5db568","name":"","links":["f2471e91.093ff"],"x":107.14288330078125,"y":1065.7142944335938,"wires":[["f145d455.c7747"]]},{"id":"18b137b0.9b0848","type":"http response","z":"7e093663.5db568","name":"http response","statusCode":"","headers":{},"x":1397.1428833007812,"y":732.857177734375,"wires":[]},{"id":"83dae189.83ff2","type":"link in","z":"7e093663.5db568","name":"","links":["17bbd307.16d235","872a2941.ed48e8","e9c77e52.97116"],"x":1278.5714721679688,"y":732.857177734375,"wires":[["18b137b0.9b0848"]]},{"id":"872a2941.ed48e8","type":"link out","z":"7e093663.5db568","name":"discovery-out","links":["83dae189.83ff2"],"x":1222.8569946289062,"y":927.1428833007812,"wires":[]},{"id":"17bbd307.16d235","type":"link out","z":"7e093663.5db568","name":"weather-out","links":["83dae189.83ff2"],"x":1317.1427612304688,"y":1065.7141723632812,"wires":[]},{"id":"56f8c311.3df7e4","type":"watson-speech-to-text","z":"7e093663.5db568","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"","apikey":"","payload-response":false,"streaming-mode":true,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":374.59942626953125,"y":1191,"wires":[["f2ce4b49.5ebd5"]]},{"id":"b49a7986.4f67f","type":"websocket out","z":"7e093663.5db568","name":"socket-response","server":"8b79af86.040848","client":"","x":743.5994262695312,"y":1190,"wires":[]},{"id":"e36b3f9c.52a188","type":"websocket in","z":"7e093663.5db568","name":"socket-interface","server":"8b79af86.040848","client":"","x":171,"y":1191,"wires":[["56f8c311.3df7e4"]]},{"id":"f2ce4b49.5ebd5","type":"function","z":"7e093663.5db568","name":"prepare ","func":"try\n{\n    msg.payload ={text :msg.payload.results[0].alternatives[0].transcript};\n}catch(err)\n{\n return msg;   \n}\nreturn msg;","outputs":1,"noerr":0,"x":556.5994262695312,"y":1191,"wires":[["b49a7986.4f67f"]]},{"id":"ad3b4a9.7d6d2b8","type":"comment","z":"7e093663.5db568","name":"conversations call and output","info":"conversations call and output","x":205,"y":454,"wires":[]},{"id":"a15fc3.f93af84","type":"comment","z":"7e093663.5db568","name":"tone analyser","info":"tone analyser","x":157,"y":234,"wires":[]},{"id":"d5c3a0f4.70219","type":"comment","z":"7e093663.5db568","name":"Api tab","info":"Api tab","x":129,"y":58,"wires":[]},{"id":"8da9ed13.ce877","type":"comment","z":"7e093663.5db568","name":"save data into cloudant-db","info":"save data into cloudant-db","x":769,"y":391,"wires":[]},{"id":"999d93af.fe6dc","type":"comment","z":"7e093663.5db568","name":"merge conversation & tone analyser outputs","info":"merge conversation & tone analyser outputs","x":259,"y":662,"wires":[]},{"id":"20eb0f09.1bb738","type":"comment","z":"7e093663.5db568","name":"query discovery news based on user input ","info":"query discovery news based on user input ","x":248,"y":880,"wires":[]},{"id":"b59c9f21.7d8d2","type":"comment","z":"7e093663.5db568","name":"get weather condition from weather company data","info":"get weather condition from weather company data","x":280,"y":1016,"wires":[]},{"id":"d46d7a33.4f0af8","type":"comment","z":"7e093663.5db568","name":"speech in","info":"","x":149,"y":1141,"wires":[]},{"id":"f1bd96fb.1249f8","type":"comment","z":"7e093663.5db568","name":"recieve text from telegram","info":"recieve text from telegram","x":200,"y":1259,"wires":[]},{"id":"f08a495a.fff8e","type":"comment","z":"7e093663.5db568","name":"send final response","info":"send final response","x":1351,"y":680,"wires":[]},{"id":"d698968e.1fd06","type":"telegram bot","z":0,"botname":"Survival-Network-Chatbot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"8b79af86.040848","type":"websocket-listener","z":"","path":"/ws/testSocket","wholemsg":"false"}]